h1{
    background-color: brown;
}

.message{
    font-size: 2em;
}
.gray{
    background-color: gray;
}

.red {
    background-color: rgb(223, 60, 60);
  }
  
  .yellow {
    background-color: yellow;
    color: black;
  }
  
  .green {
    background-color: green;
  }

  input{
    font-size: 2em;
    border-radius: 10px;
  }

  .fields{
    margin: 1% 0 1% 0;
    border: 2px solid black;
  }

  .field-message1{
    width: 20%;
  }

  .field-message2{
    width: 35%;
  }
  
  .field-message3{
    width: 50%;
  }

  button{
    border-radius: 15%;
    font-size: 2em;
    border: 5px solid outset;
  }
  button:hover{
    background-color: rgb(172, 180, 187);
  }
  button:active{
    border-style: inset;
  }
