.gray{
    background-color: gray;
}

.red {
    background-color: rgb(223, 60, 60);
  }
  
.yellow {
  background-color: yellow;
  color: black;
}
  
  .green {
    background-color: green;
  }

  .fields{
    margin: 1% 0 1% 0;
    border: 2px solid black;
    font-size: 2em;
  }

  .field-message1{
    width: 20%;
  }

  .field-message2{
    width: 35%;
  }
  
  .field-message3{
    width: 50%;
  }